<!DOCTYPE html>
<html ng-app="myApp">
<head>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
  
</head>

<body ng-controller="userController">
<div class="container">

<h3>Try out our prototype and please leave a feedback</h3>
<hr>
Click here to open our application in another tab<br>

<h3>Feedback</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Continue</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{ user.start }}</td>
      <td>{{ user.stop }}</td>
      <td>{{ user.continue }}</td>
      <td>
        <button class="btn" ng-click="editUser(user.$id)">
          <span class="glyphicon glyphicon-pencil"></span>  Edit
        </button>
      </td>
      <td>
        <button class="btn" ng-click="deleteUser($index)">
          <span class="glyphicon glyphicon-pencil"></span>  Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>



<hr>
<b>*To leave feedback, click on the "Leave new feedback" button before filling in the form and save it.*</b>
<br>
<button class="btn btn-success" ng-click="editUser('new')">
<span class="glyphicon glyphicon-user"></span>Leave New Feedback
</button>
<hr>


<h3 ng-show="edit">Leave Feedback:</h3>
<h3 ng-hide="edit">Edit User:</h3>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="newuser.fName" ng-disabled="!edit" placeholder="First Name">
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="newuser.lName" ng-disabled="!edit" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="newuser.email" ng-disabled="!edit" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">School:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="newuser.school" ng-disabled="!edit" placeholder="School">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">What should we start doing?</label>
    <div class="col-sm-10">
    <textarea ng-model="newuser.start" ng-disabled="!edit" placeholder="Leave your feedback here"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">What should we stop doing?</label>
    <div class="col-sm-10">
    <textarea ng-model="newuser.stop" ng-disabled="!edit" placeholder="Leave your feedback here"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">What should we continue doing?</label>
    <div class="col-sm-10">
    <textarea ng-model="newuser.continue" ng-disabled="!edit" placeholder="Leave your feedback here"></textarea>
    </div>
  </div>
</form>

<hr>
<button class="btn btn-success"  ng-click="save()">
<span class="glyphicon glyphicon-save"></span>  Save Feedback
</button>
<hr>


//Please take a look at this team's app. 
//<button class="btn btn-success"  ng-click="">
//<span class="glyphicon glyphicon-save"></span>Go
//</button>


</div>

<script>
   var myApp = angular.module("myApp", ["firebase"]);
    myApp.controller('userController', ['$scope', '$firebase',
        
        function($scope, $firebase) {
    $scope.newuser = {};
    $scope.fName = '';
    $scope.lName = '';
    $scope.passw1 = '';
    $scope.passw2 = '';
    
    //We can replace this with a Firebase url later on. 
    var ref = new Firebase("https://is429feedback2.firebaseio.com");
    $scope.users = $firebase(ref.child("user")).$asArray(); 

    
    $scope.edit = true;
    $scope.error = false;
    $scope.incomplete = false;  
    
    
    $scope.editUser = function(id) {
        $scope.currentId = id;
        if (id == 'new') {
            $scope.edit = true;
            $scope.incomplete = true;
            $scope.newuser.fName = '';
            $scope.newuser.lName = '';
            $scope.newuser.email = '';
            $scope.newuser.school = '';
            $scope.newuser.start = '';
            $scope.newuser.stop = '';
            $scope.newuser.continue = '';
            console.log("new user.");
        } else {
            $scope.edit = true;
            $scope.newuser = $firebase(ref.child("user").child(id)).$asObject();
            console.log("existing user.");
        }
    };
    

    $scope.save = function(){
      //Add new if no index is passed in.
      
      if($scope.currentId=='new'){
        //Using the array length as the next index while prototyping. 
         $scope.users.$add($scope.newuser);
      }
      else{
        $scope.newuser.$save();
      }
    };
    
    $scope.deleteUser = function(index){
      $scope.users.$remove(index);
      console.log("removing "+index);
    }
    
    }]);

</script>
  <!--Here is a way to take a quick peek at your data. 
  Users: {{users}}<br>
  newuser: {{newuser}}
  -->

</body>
</html>
